.container {
   max-width: 900px;
   padding: 20px;
   margin: 0 auto;
}

.form {
   margin: 10px 0;
   box-shadow: 0 0 5px 1px gainsboro;
   background-color: white;
}

.form__header {
   padding: 15px;
   margin: 0;
   border-bottom: 1px solid lightgray;
}

.form__item {
   padding: 15px;
   display: flex;
   justify-content: space-between;
}

.task__field {
   margin-right: 20px;
   padding: 5px;
   border: 1px solid lightgray;
   flex-grow: 1;
}

.task__field:enabled {
   border-color: lightgrey;
}

.task__field:read-only {
   color: lightgrey;
}

.task__button {
   background-color: teal;
   color: white;
   border: none;
   width: auto;
   padding: 5px 20px;
}

.task__button:hover {
   background-color: darkcyan;
}

.task__button:active {
   background-color: lightseagreen;
}

.task__button:active {
   transform: translateY(1px);
}

.form__tasks {
   margin: 10px 0;
   box-shadow: 0 0 5px 1px gainsboro;
   background-color: white;
}

.tasks {
   list-style: none;
   padding: 15px;
   margin: 0;
}

.tasks__item {
   padding: 10px;
   display: grid;
   grid-template-columns: auto 1fr auto;
   grid-gap: 10px;
   align-items: center;
   border-bottom: 1px solid lightgray;
}

.task__done {
   background-color: darkgreen;
   border: none;
   color: white;
   width: 30px;
   height: 30px;
   padding: 0;
}

.task__done:hover {
   background-color: green;
}

.task__done:active {
   border: 2px solid black;
   border-radius: 3px;
}

.task__content--done {
   text-decoration: line-through;
}

.task__content {
   margin: 0;
}

.task__remove {
   background-color: crimson;
   border: none;
   color: white;
   width: 30px;
   height: 30px;
   padding: 0;
}

.task__remove:hover {
   background-color: red;
}

.task__remove:active {
   border: 2px solid black;
   border-radius: 3px;
}

@media (max-width: 500px) {
   .form__item {
      display: flex;
      flex-direction: column;
      flex-basis: 1;
   }

   .task__button {
      margin-top: 15px;
      display: flex;
      justify-content: center;
   }

   .task__field {
      margin: 0;
   }

   .task__content {
      word-wrap: break-word;
   }
}