.container {
   width: 800px;
   display: grid;
   grid-template-rows: 0fr 1fr 1fr;
}

.container > * {
   border: 1px solid black; /* obramowanie dla każdego elementu */
 }

.header {
   margin-bottom: 5px;
}

.form {
   margin-bottom: 5px;
   padding: 10px;
   display: grid;
}

.task__header {
   margin-top: 5px;
}

.form__tasks {
   padding: 10px;
}