.container {
   text-align: left;
}

.header {
   margin-bottom: 0px;
}

.form {
   border: 1px solid black;
   margin-bottom: 5px;
   padding: 10px;
}

.task__header {
   margin-top: 10px;
}

.form__tasks {
   border: 1px solid black;
   padding: 10px;
}