@media (max-width: 500px) {
   .form {
      display: flex;
      flex-direction: column;
      flex-basis: 1;
   }

   .form__button {
      margin-top: 15px;
      display: flex;
      justify-content: center;
   }

   .form__field {
      margin: 0;
   }

   .task__content {
      word-wrap: break-word;
   }
   
   .section__container {
      display: flex;
      flex-direction: column;
   }

   .section__buttons {
      display: flex;
      flex-direction: column;
   }

   .section__header2 {
      margin-bottom: 10px;
   }

   .button__hideCompleted {
      margin-bottom: 10px;
   }
}