@media (max-width: 500px) {
   .form {
      display: flex;
      flex-direction: column;
      flex-basis: 1;
   }

   .form__button {
      margin-top: 15px;
      display: flex;
      justify-content: center;
   }

   .form__field {
      margin: 0;
   }

   .task__content {
      word-wrap: break-word;
   }
}