html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    max-width: auto;
    margin: 20px;
    padding: 20px;
    text-align: left;
}

