html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightpink;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

