html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}