.container {
   max-width: 900px;
   padding: 20px;
   margin: 0 auto;
}

.header {
   font-size: 28px;
}

.section {
   margin: 10px 0;
   box-shadow: 0 0 5px 1px gainsboro;
   background-color: white;
}

.section__container {
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid lightgray;
}

.section__header {
   margin: 0;
   padding: 20px;
   font-size: 18px;
   border-bottom: 1px solid lightgray;
}

.section__header2 {
   margin: 0;
   margin-right: auto;
   font-size: 18px;
}

.button__hideCompleted {
   color: teal;
   background-color: transparent;
   border: none;
   cursor: pointer;
   margin: 0px 15px;
   transition: 0.5s;
}

.button__hideCompleted:hover {
   color: lightseagreen;
   transition: 0.5s;
}

.button__completeAll {
   color: teal;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: 0.5s;
}

.button__completeAll:hover {
   color: lightseagreen;
   transition: 0.5s;
}

.button__completeAll:disabled {
   color: lightgray;
   cursor: auto;
}

.form {
   padding: 20px;
   display: flex;
}

.form__field {
   margin-right: 20px;
   padding: 8px 5px;
   border: 1px solid lightgray;
   flex-grow: 1;
}

.form__field:enabled {
   border-color: lightgrey;
}

.form__field:read-only {
   color: lightgrey;
}

.form__button {
   background-color: teal;
   color: white;
   border: none;
   width: auto;
   padding: 8px 20px;
   transition: 0.1s;
   cursor: pointer;
}

.form__button:hover {
   background-color: darkcyan;
   transition: 0.2s;
   transform: scale(105%);
}

.form__button:active {
   background-color: lightseagreen;
   transform: translateY(1px);
}